.git
**/target
**/bin
**/data
**/.settings
**/.classpath
**/.project
**/.env*
**/*.launch
**/*.log
**/*.mv.db
**/*.trace.db
**/*.jar
**/*.zip
**/*.pid
**/*.dump*
**/*.hprof
**/*.pem
**/*.p12
**/*.jks
.idea
.vscode

!target/
!target/gestion-unificada-1.0.0.jar
